.tab:hover {
    background-color: #C4B682;
    color: white;
}

.select-tab {
    background-color: #C4B682;
}

.unselected-tab {
    background-color: #F3EFEB;
    color: black;
}

.service-image {
    max-width: 120px;
}