.tab:hover {
    background-color: #CCA43A;
    color: white;
}

.select-tab {
    background-color: #CCA43A;
}

.unselected-tab {
    background-color: #F3EFEB;
    color: black;
}

.service-image {
    max-width: 120px;
}

.book-service-btn {
    border: 1px solid #CCA43A;
    color: #CCA43A;
}

.book-service-btn:hover {
    border: 1px solid #CCA43A;
    background-color: #CCA43A;
    color: #FFFFFF;
}