.tab {

}

.tab:hover {
    background-color: #CCB6A0;
    color: white;
}

.select-tab {
    background-color: #CCB6A0;
}

.unselected-tab {
    background-color: #F3EFEB;
    color: black;
}

.service-image {
    max-width: 120px;
}