.container {
    margin-top: -45px;
    
    @media screen and (min-width: 1024px) {
        margin-top: -51px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: -60px;
    }
    @media screen and (min-width: 1430px) {
        margin-top: -80px;
    }
}