.nav__item--home {
    color: #F6F5F5;
}

.nav__item--home:hover {
    color: #000;
}

.nav__item-home--active {
    color: #000;
    border-bottom: 3px solid #605651;
    padding-bottom: 3px;
}
 /* comment */
.nav__item--other {
    color: #CCA43A;
}

.nav__item--other:hover {
    color: #000;
}

.nav__item-other--active {
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 3px;
}

/* mobile navigation */
.nav__item-mobile {
    color: #000;
}

.nav__item-mobile:hover {
    color: #CCA43A;
}

.nav__item-mobile--active {
    color: #CCA43A;
    border-bottom: 3px solid #CCA43A;
    padding-bottom: 3px;
}

.book-online__btn {
    color: #F6F5F5;
    border-color: #F6F5F5;
    background-color: #CCA43A;
}

.book-online__btn_2 {
    color: #CCA43A;
    border-color: #CCA43A;
}

.book-online__btn:hover {
    color: #484742;
    background-color: #F6F5F5;
}

.book-online__btn_2:hover {
    color: #FFFFFF;
    background-color: #CCA43A;
}

.book-online-mobile__btn {
    color: #CCA43A;
    border-color: #CCA43A;
    background-color: #fff;
}

.book-online-mobile__btn:hover {
    color: #fff;
    background-color: #CCA43A;
}

.animate-slide-in {
    position: fixed;
    z-index: 5;
    right: -600vw;
    -webkit-animation: slideIn 0.3s forwards;
    animation: slideIn 0.3s forwards;
}
    
@-webkit-keyframes slideIn {
    100% { right: 0; }
}
    
@keyframes slideIn {
    100% { right: 0; }
}

.animate-slide-out {
    position: fixed;
    right: 0;
    
    -webkit-animation: slideOut 0.3s backwards;
    animation: slideOut 0.3s backwards;
  }
  
  @-webkit-keyframes slideOut {
    0% { right: 0; }
    100% { right: -100%; }
  }
  
  @keyframes slideOut {
    0% { right: 0; }
    100% { right: -100%; }
  }
    

.close {
    width: 40px;
    height: 20px;
    position: fixed;
    right: 5%;
}

.close:after {
    content: '';
    height: 25px;
    border-left: 2px solid #CCA43A;
    position: absolute;
    transform: rotate(45deg);
    left: 22px;
}

.close:before {
    content: '';
    height: 25px;
    border-left: 2px solid #CCA43A;
    position: absolute;
    transform: rotate(-45deg);
    left: 22px;
}

.close-when-banner-inactive {
    top: 16px; 
    @media screen and (min-width: 768px) {
        top: 18px; 
      }
}

.close-when-banner-active {
    top: 105px; 
    @media screen and (min-width: 768px) {
        top: 110px; 
      }
}

.banner-is-shown {
    top: 89px;
    @media screen and (min-width: 768px) {
        top: 92px; 
      }
}

