.nav__item {
    color: #F6F5F5;
}

.nav__item:hover {
    color: #605651;
}
.nav__item--active {
    color: #605651;
    border-bottom: 3px solid #605651;
    padding-bottom: 3px;
}
.book-online__btn {
    color: #F6F5F5;
    border-color: #F6F5F5;
    background-color: #CCB6A0;
}
.book-online__btn:hover {
    color: #CCA43A;
    background-color: #F2EFEA;
}

.animate-slide-in {
    position: fixed;
    z-index: 5;
    right: -600vw;
    -webkit-animation: slideIn 0.3s forwards;
    animation: slideIn 0.3s forwards;
}
    
@-webkit-keyframes slideIn {
    100% { right: 0; }
}
    
@keyframes slideIn {
    100% { right: 0; }
}

.animate-slide-out {
    position: fixed;
    right: 0;
    
    -webkit-animation: slideOut 0.3s backwards;
    animation: slideOut 0.3s backwards;
  }
  
  @-webkit-keyframes slideOut {
    0% { right: 0; }
    100% { right: -100%; }
  }
  
  @keyframes slideOut {
    0% { right: 0; }
    100% { right: -100%; }
  }
  

    

.close {
    width: 40px;
    height: 20px;
    position: fixed;
    @media screen and (min-width: 768px) {
        top: -8px; 
      }
}
.close:after {
    content: '';
    height: 25px;
    border-left: 2px solid #CCA43A;
    position: absolute;
    transform: rotate(45deg);
    left: 22px;
}

.close:before {
    content: '';
    height: 25px;
    border-left: 2px solid #CCA43A;
    position: absolute;
    transform: rotate(-45deg);
    left: 22px;
}

.banner-is-shown {
    top: 92px;
}

