*, *:before, *:after {
	box-sizing: border-box;
}

.google-reviews {
  top: 300px; 
  left: 15%;
  @media screen and (min-width: 400px) {
    top: 320px; 
    left: 20%;
  }
  @media screen and (min-width: 600px) {
    top: 390px; 
  }
  @media screen and (min-width: 680px) {
    top: 400px; 
  }
  @media screen and (min-width: 780px) {
    top: 350px; 
  }
  @media screen and (min-width: 900px) {
    top: 370px; 
  }
  @media screen and (min-width: 1024px) {
    top: 32%; 
    left: 10%;
  }
  @media screen and (min-width: 1130px) {
    top: 34%; 
  }
  @media screen and (min-width: 1230px) {
    top: 35%; 
  }
  @media screen and (min-width: 1300px) {
    top: 38%; 
  }
  @media screen and (min-width: 1430px) {
    top: 330px; 
    left: 90px;
    
  }
          
}

.cta-btn {
  color: #FFF;
  border-color: #F6F5F5;
  background-color: #CBB6A0;
}


.cta-btn:hover {
  color: #5F5551;
  background-color: #F2EFEA;
}

.arrow {
  
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  position: relative;
  
}

.arrow::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    /* top: 50%;
    left: 50%; */
    border-style: solid;
    border-color: #CCA43A;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 57% 145%;
  }



  .arrow.down::before { 
    transform: rotate(135deg); 
    margin: -20px 0 0 -15px;
  }

  
  .arrow::after {
    content: '';
    display: block;
    /* top: 50%;
    left: 50%; */
    border-style: solid;
    border-color: #CCA43A;
    position: absolute;
    transform-origin: 50% 50%;
  }
  
  
  .arrow.down::after { 
    width: 0;
    height: 15px;
    border-width: 0 2px 0 0;
    transform: translate(-3px, -10px);
  }
/*   
.flowers-left, .flowers-right {
  background-image: url("../../assets/flower-left.png"), url("../../assets/flower-right.png");
  background-position: 0% 120%, 100% 120%;
  background-repeat: no-repeat;
  background-size: 25%;
  min-height: 10rem;
} */

.schedule_appointnent__btn {
  color: #C4B682;
  background-color: white;
  border-color: #C4B682;
}

.schedule_appointnent__btn:hover {
  color: white;
  background-color: #C4B682;
}

.promotion_btn {
  background-color: #C4B682;
  border-color: #C4B682;
  color: white;
}

.promotion_btn:hover {
  background-color: white;
  border-color: #C4B682;
  color: #C4B682;
}

.google_map {
  height: 250px;
  @media screen and (min-width: 780px) {
    height: 300px; 
  }
  @media screen and (min-width: 1200px) {
    height: 450px; 
  }
}