.marquee-container-div:before, .marquee-container-div:after {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    content: "";
    z-index: 10;
  }
.marquee-container-div:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
  }
  .marquee-container-div:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);
  }