.transition {
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 40; 
  transition:top 1s;
  -webkit-transition:top 1s;
}

.no-scroll {
  overflow: hidden;
}

/* body > *:not(#no-blur) {
  transition: filter 0.3s ease;
  filter: blur(3px);
} */